
body {background-color: #CEEDC7;}

hr {border: 7px dotted #86C8BC;
    border-style: none none dotted; 
    background-color: #CEEDC7;
    width: 10%}
h1 {color: #046582; font-size:50px;}
h2 {color: #046582}
p {color : #30475E}
ul {color : #30475E}
table {color : #30475E}
img:hover{border-radius: 30%}
.bacon{border-radius: 100%}

/*
#heading {color: #F67280}
*/